*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator{

    min-height: 100vh;
    background-image: linear-gradient(to bottom right,rgb(9, 104, 40),rgb(5, 226, 79),rgb(25, 211, 195));
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: minmax(120px,auto) repeat(5,90px);
    grid-template-columns:repeat(4,90px) ;

}
#screen{
    color: white;
    font-size: 2.5rem;
    text-align: end;
}
.btn{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(4, 4, 82);
    cursor: pointer;
    border: 1.5px solid rgb(255, 255, 255);
    background-color: rgb(189, 185, 178);
    border-radius: 3px;
}
.btn:hover{
    background-color: white;
    transition: background-color 0.5s;
}
#plus{
    font-size: 2.4rem;
}
#sub{
    font-size: 3rem;
}
#divide{
    font-size: 2.4rem;
}

#screen{
    grid-column: 1/-1;
    background: rgba(16, 16, 29, 0.76);
}
#clear{
    grid-column: 1/3;
}